Package: com.superp0s.infiniloader
Name: Infiniloader
Depends: winterboard
Version: 1.0
Architecture: iphoneos-arm
Description: A beautiful Winterboard theme that changes the loading gif
Maintainer: superp0s
Author: superp0s
Section: Themes (SpringBoard)
